---
layout: page.njk
permalink: index.html
---

{% include "header.njk" %}
<main class="page page__main">
  <div class="container page_container">
    <ul class="docs__list">
      <li class="page__item">
        <div class="docs__info">
          <h3 class="docs__title"></h3>
          <p class="docs__description"></p>
        </div>
      </li>
    </ul>
  </div>
</main>
{% include "footer.njk" %}
