<!DOCTYPE html>
<html class="page" lang="ru">
	<head>
		<meta charset="UTF-8" />
		<title>
			{{ meta.title }}
		</title>

		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<meta
			name="author"
			content="{{ meta.authors | map('name') | join(', ') }}"
		/>
		<meta
			name="description"
			content="{{ meta.subtitle }}. {{ meta.description }}"
		/>

		{# Favicons #}
		<link
			rel="icon"
			href="/images/icons/16.png"
			type="image/png"
			sizes="16x16"
		/>
		<link
			rel="icon"
			href="/images/icons/32.png"
			type="image/png"
			sizes="32x32"
		/>

		{# Styles #}
		<link rel="stylesheet" href="/styles/styles.css" />

	</head>
	<body class="page__body">
		{{ content | safe }}
	</body>
</html>
